/*style for horizontally centered block*/
body {
  min-width: 400px;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid darkgray;
  color: gray;
  background-color: lightgray;
}

/*color link does not depend on the state*/
a:link,
a:visited,
a:hover,
a:active {
  color: blue;
}

header {
  position: relative;
  min-height: 10px;
  padding: 5px;
  text-align: center;
  background-color: lightyellow;
  border-bottom: 2px solid darkgray;
}

/*location links in header*/
.main-menu a {
  margin-right: 40px;
}

/*main content*/
main {
  padding: 5px 10px;
  color: black;
  background-color: lightyellow;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.my-photo {
  border: 4px solid gray;
  border-radius: 10px;
}

h1,
h2 {
  color: black;
  font-weight: bold;
  padding-bottom: 2px;
  margin-bottom: 5px;
  text-align: center;
}

.contact-list {
  list-style: none;
  padding-left: 12px;
}

footer {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 10px;
  align-items: center;
  background-color: lightyellow;
  border-top: 2px solid darkgray;
}
